<div class="container">
  <% if @model_name == "user" %>
    <h4>Users search for "<%= @search_word %>"</h4>
    <%= render "users/index", users: @users %>
  <% else %>
    <h4>Books search for "<%= @search_word %>"</h4>
    <%= render "books/index", books: @books %>
  <% end %>
</div>
